/* css code for the filterRoute view */

.question {

  width:35% !important;
}


div.left {
	 width: 33.33%;
	 float: left;
	 height : 100%;
     
     
     padding: 0;
     margin: 0;
     display: block;
     border: 1px solid white;
     
     

}

div.right{
	 width: 66.66%;
	 height : 100%;
     display: block;
     float: left;


     

}
 
